<app-toolbar></app-toolbar>
<p></p>
<div class="flexbox" *ngIf="this.customer">

  <div class="flex-buttons" *ngIf="this.checkingAccount">
    <mat-card>
      <mat-card-header><em> <b> Checking </b></em>Account Details</mat-card-header>
      <mat-card-content>
        <mat-label>Your current balance is: ${{this.checkingAccount.balance}}</mat-label>
        <p></p>
        <button class="button-nav" mat-button (click)="navToSavings()">Savings Account</button>
      </mat-card-content>
      <mat-dialog-actions>
        <button mat-flat-button class="option-button" (click)="getAccountDetails(acctDetails)">Details</button>
        <button mat-flat-button class="option-button" (click)="openDialog(deposit)">Deposit</button>
        <button mat-flat-button class="option-button" (click)="openDialog(withdraw)">Withdraw</button>
        <button mat-flat-button class="option-button" (click)="transfer()">Transfer Money</button>
        <button mat-flat-button class="option-button" (click)="transactionHistory()">Transaction History</button>
        <button mat-flat-button class="option-button" (click)="customerInformation()">My Information</button>
      </mat-dialog-actions>
    </mat-card>

  </div>

  <div class="flex-content">
    <ng-template #acctDetails>
      <mat-card>
        <mat-card-header>
          Savings Account
          <mat-card-content>
            <mat-label>Your current balance is: ${{this.checkingAccount.balance}}</mat-label>
          </mat-card-content>
        </mat-card-header>
      </mat-card>
    </ng-template>


    <ng-template #deposit>
      <mat-form-field>
        <mat-label>Deposit Amount</mat-label>
        <span matPrefix>$ &nbsp;</span>
        <input matInput type="number" autocomplete="false" min="0" max="10000" [(ngModel)]="depositAmount">
      </mat-form-field>

      <mat-card-actions>
        <button mat-flat-button (click)="depositChecking()">Deposit</button>
        <button mat-flat-button matDialogClose>Cancel</button>
      </mat-card-actions>
    </ng-template>

    <ng-template #withdraw>
      <mat-form-field>
        <mat-label>Withdraw Amount</mat-label>
        <span matPrefix>$ &nbsp;</span>
        <label> Limit is 500, and remaning amount is {{this.checkingAccount.balance}}</label>
        <input matInput type="number" autocomplete="false" max="{{this.checkingAccount.balance}}" min="0" [(ngModel)]="depositAmount">
        <mat-error *ngIf="depositAmount > checkingAccount.balance">Withdraw amount exceeds savings balance. Please try a smaller amount.</mat-error>
      </mat-form-field>

      <mat-card-actions>
        <button mat-flat-button (click)="withdrawChecking()">Withdraw</button>
        <button mat-flat-button matDialogClose>Cancel</button>
      </mat-card-actions>
    </ng-template>
  </div>
</div>
