<mat-card-header><b>Transfer Money:</b></mat-card-header>

<div *ngIf="selected!=''">
<mat-form-field>
  <mat-select [(value)]="this.selected">
    <mat-option *ngIf="this.selected === 'Checking Account'" (click)="otherAccount()" value="Checking Account">Checking Account</mat-option>
    <mat-option *ngIf="this.selected === 'Savings Account'" (click)="otherAccount()" value="Savings Account">Savings Account</mat-option>
    <mat-option value= "{{this.selected}}" (click)="otherEbankingAcct()" >Another Ebanking Account</mat-option>
  </mat-select>
</mat-form-field>
<p></p>

<mat-form-field class="other-account" *ngIf="anotherAccountSelect">
  <mat-label>Please enter account number:</mat-label>
  <input matInput [(ngModel)]="otherAcctNumber">
</mat-form-field>
<p></p>

<p></p>

<p></p>
<mat-form-field>
  <mat-label>Amount:</mat-label>
  <input matInput [(ngModel)]="amount">
</mat-form-field>

<mat-card-actions>
  <button mat-button (click)="transferAmount()">Transfer</button>
  <button mat-button matDialogClose>Close</button>
</mat-card-actions>
</div>

