.account-header{
  position: absolute;
  left: 45%;
}

.banking_options {
  position: absolute;
  left: 50px;
  width: 200px;
}
.options{
  transition: 0.3s;
  padding: 0 0 10px 0 ;
}

.options:hover {
  opacity: 1;
  left: 5px;
  cursor: pointer;
}


.flexbox{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flexOptions{

}

.flexDetails{
  width: 30%;
  padding-left: 20%;
}

table {
  width: 100%;
}

.account-button{
  width: 15%;
  height: 220px;
}

.account-button:hover{
  background-color: black;
  color: white;
  transition: 0.7s;
}

.btn-div{
  position: center;
}
