<app-toolbar></app-toolbar>

<mat-error>Please select a account!</mat-error>
<p></p>
<div class="button-div" *ngIf="customerAccountDetails">
<mat-dialog-actions>
  <button mat-raised-button class="account-button" (mouseover)="changeText=true" (mouseout)="changeText = false" (click)="getSavings()">
  <span *ngIf="!changeText">Savings</span>
  <span *ngIf="changeText">${{customerAccountDetails.savingsBalance}}</span>
  </button>
  <button mat-flat-button class="account-button" (mouseover)="checkingText=true" (mouseout)="checkingText= false" (click)="getChecking()">
    <span *ngIf="!checkingText">Checking</span>
    <span *ngIf="checkingText">${{customerAccountDetails.checkingBalance}}</span>
  </button>
</mat-dialog-actions>
</div>

<p></p>

