<h1>Customer Information</h1>

<button mat-icon-button><mat-icon>picture_as_pdf</mat-icon></button>

<mat-divider></mat-divider>

<mat-form-field>
  <span>Name: </span>
  {{customer.firstName}}  {{customer.lastName}}
</mat-form-field>

<p></p>

<mat-form-field>
  <span>Email: </span>
  {{customer.email}}
</mat-form-field>

<p></p>

<mat-form-field>
  <span>Phone: </span>
  {{customer.phoneNumber}}
</mat-form-field>

<p></p>

<mat-form-field>
  <span>Address: </span>
  {{customer.address}}
</mat-form-field>

