<h1>Customer Information</h1>
<mat-divider></mat-divider>

<div *ngIf="this.customer">
  <mat-form-field>
    <span>Name: </span>
    {{customer.firstName}}  {{customer.lastName}}
    <input matInput disabled>
  </mat-form-field>


  <mat-form-field>
    <span>Email: </span>
    {{customer.email}}
    <input matInput disabled>
  </mat-form-field>


  <mat-form-field>
    <span>Phone: </span>
    {{customer.phoneNumber}}
    <input matInput disabled>
  </mat-form-field>

  <mat-form-field>
    <span>Address: </span>
    {{customer.address}}
    <input matInput disabled>
  </mat-form-field>

</div>
